html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body { 
    font-family: 'Roboto', sans-serif; 
    min-height: 100%;
    margin: 0;
    padding-bottom: 6rem;
    position: relative;
    padding-bottom: 80px;
}

.navbar {
	margin-bottom: 0px;
    position: relative;
}

.jumbotron {
    margin-bottom: 0px;
    background-image: url(../img/Taipeiskyline.jpg);
    background-position: 60% 65%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    min-height: 400px;
}


#text-content {
	font-size: 120%;
}

#intro-title {
	text-align: center;
}

#datatypes {
    padding-top: 50px;
    padding-bottom: 50px;
}

.fa {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.col-xs-6 {
    text-align: center;
}

#searchbar {
    background-color: #7171C6 ;
    position: relative;
    height: 75px;
}

#search {
    position: relative;
    margin-top: 20px;
}

.github-button {
    margin-top: 12px;
}


.btn-default {
    background-color: #E8E8E8;
}

#data-menu {
    margin-left: -10px;
}

#data-display {
    margin-right: -10px;
}

#pagetitle {
    color: #FCFCFC;
}

#title {
    font-family: 'Open Sans Condensed', sans-serif;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #7171C6;
  text-align: center;
  color: white;
}


/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 6px;
    padding-bottom: 6px;
  }
}

/* leaflet test */

    #mapid {
        width: 960px;
        height: 720px;
    }
    
    svg {
        position: relative;
    }
    
    path {
        fill: #000;
        fill-opacity: .2;
        stroke: #fff;
        stroke-width: 1.5px;
    }
    
    path:hover {
        fill: brown;
        fill-opacity: .7;
    }
    
    .place-label {
        font-size: 8pt;
        text-anchor: middle;
    }
