{% extends "cluster.html" %}
{% block clustercontent %}

<div class='container'>


  <div class ="top-menu">
     <ul>
        <li><a href="/cluster">Overview</li>
        <li><a href="">Research</a></li>
        <li>More Info</li>
      </ul>
  </div>   
      

	<div id = "text-content">

    <h3 class = "page-header"><strong>Additional Information</strong></h3>

    <p>The Taiwan Cluster Mapping Project is conducted by a research team at the Taiwan Institute for Strategy and Competitiveness (TISC), led by Dr. Janet Tan. Dr. Tan's team has been collaborating closely with Harvard Business School's <a href="http://www.isc.hbs.edu/Pages/default.aspx">Institute of Strategy and Competitiveness</a> to ensure that the Taiwan Cluster Mapping Project is methodologically-sound and comparable to similar projects in other countries.</p>

    <br>

    <p>For more information regarding TISC's work relating to Taiwan's clusters, see the <a href="http://tisc.nccu.edu.tw/">TISC website</a>. For data-related inqueries or consulting requests, please contact TISC at: </p>

 
	</div>

<br>
<br>
<br>

	

</div>




{% endblock %}