{% extends "base.html" %}
{% block content %}

	<!-- TITLE BAR -->

	<nav class="navbar navbar-default" id="searchbar">
		 <div class="container">
			<h2 id = "pagetitle"> Taiwan Cluster Mapping </h2>

		</div>
	</nav>		<!-- CLOSE TITLE BAR -->

<br>
<br>
   



<div class='container'>


  <div class ="top-menu">
     <ul>
        <li>Overview</li>
        <li><a href="">Research</a></li>
        <li><a href="">More Info</a></li>
      </ul>
  </div>   
      

  <div id = "text-content">

    <h3 class = "page-header"><strong>Project Overview</strong></h3>

    <p>The <a href="http://tisc.nccu.edu.tw/">Taiwan Institute for Strategy and Competitiveness (TISC)</a> at National Chengchi University is conducting a series of long-term studies on Taiwan's industry clusters to track their productivity and competitiveness. We hope that, by identifying and nurturing clusters of productive firms and industries, Taiwan can secure it's place as a competitive player in the global economy.</p>

    <br>

    <p>To this end, TISC is collaborating closely with experts at Harvard's <a href="http://www.isc.hbs.edu/Pages/default.aspx">Institute for Strategy and Competitiveness</a>, as well as an <a href="http://www.isc.hbs.edu/resources/courses/moc-affiliate-network/pages/default.aspx">international network of affiliated educational institutions</a>. The methodology behind these studies are based on the <a href ='http://www.isc.hbs.edu/resources/courses/moc-course-at-harvard/pages/default.aspx'>Microeconomics of Competitiveness framework</a> developed by Professor Michael Porter and his research team at Harvard Business School.</p> 


    <h3 class = "page-header"><strong>Clusters 101</strong></h3>


        <p>An <strong>industry cluster</strong> is a geographic concentration of related industries and institutions, including companies, suppliers, service providers, and government agencies. Economic research has demonstrated that economic productivity and technological innovation are emergent properties of clusters.  [...]</p>

    <ul>
      <li>blah</li>
      <li>blah</li>
      <li>blah</li>
    </ul>

    <br>

    <p>For a more detailed overview of industry clusters, see the <a href ="http://www.clustermapping.us/content/clusters-101">"Clusters 101"</a> page at the <a href="http://www.clustermapping.us/">U.S. Cluster Mapping website</a>.</p>



    <h3 class = "page-header"><strong>Where is Taiwan's Competitive Advantage?</strong></h3>

    <p>blah blah blah blah blah blah blah blah blah</p>

    <br>

    <p>  </p>

  </div>




  <!-- Leaflet Map -->


  

    <div id="mapid" style="width: 430px; height: 700px;"></div>

      <script>
      var mymap = L.map('mapid', {
          center: [23.6, 121],
          zoom: 8,
          dragging: false,
          scrollWheelZoom: 'center',
          doubleClickZoom: 'center',
          boxZoom: false
      }); // center 跟 zoom 這兩個 option 也可以改寫成 .setView([23.6, 121], 8);
      // 讀取 OpenStreetMap 的 Map Tile
      L.tileLayer('http://{s}.tile.openstreetmap.se/hydda/base/{z}/{x}/{y}.png', {
          attribution: 'Tiles courtesy of <a href="http://openstreetmap.se/" target="_blank">OpenStreetMap Sweden</a> &mdash; Map data &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(mymap);
      // 在 .leaflet-objects-pane --> .leaflet-overlay-pane 裡面新增 Element
      var svg = d3.select(mymap.getPanes().overlayPane).append("svg"),
          g = svg.append("g").attr("class", "leaflet-zoom-hide");
      // 讀取、綁定資料
      d3.json("{{ url_for('static', filename='tw.json') }}", function(error, tw) {
          if (error) throw error;
          // 把 GeoJSON 轉換成 SVG
          var transform = d3.geo.transform({
                  point: projectPoint
              }),
              path = d3.geo.path().projection(transform);
          // 用 Data Join 的方式加入 Path
          // 這時候還沒有實際去畫出 Path，等下才要加入 `.attr("d", path);`，這邊先等等
          var feature = g.selectAll("path")
              .data(topojson.feature(tw, tw.objects.taiwan).features)
              .enter().append("path");
          var label = g.selectAll(".place-label")
              .data(topojson.feature(tw, tw.objects.taiwan).features)
              .enter().append("text")
          // 每次圖片一有什麼動作（移動、縮放、等等等），就要重新繪圖
          mymap.on("viewreset", reset);
          reset();
          // Reposition the SVG to cover the features.
          function reset() {
              // SVG 的尺寸很難界定，因為使用者會對 SVG 放大縮小，所以指定一個固定的尺寸並不切實際
              // 要用 D3 的 Path bounds 來幫忙(https://github.com/mbostock/d3/wiki/Geo-Paths#wiki-path_bounds)
              var bounds = path.bounds(topojson.feature(tw, tw.objects.taiwan)),
                  topLeft = bounds[0],
                  bottomRight = bounds[1];
              svg.attr("width", bottomRight[0] - topLeft[0])
                  .attr("height", bottomRight[1] - topLeft[1])
                  .style("left", topLeft[0] + "px")
                  .style("top", topLeft[1] + "px");
              g.attr("transform", "translate(" + -topLeft[0] + "," + -topLeft[1] + ")");
              feature.attr("d", path);
              label.attr("class", "place-label")
                  .attr("transform", function(d) {
                      var centroid = path.centroid(d),
                          x = centroid[0],
                          y = centroid[1];
                      return "translate(" + x + "," + y + ")";
                  })
                  .attr("dy", ".35em")
                  .text(function(d) {
                      return d.properties.name;
                  });
          }
          // Use Leaflet to implement a D3 geometric transformation.
          // 因為 D3 用來處理 Projection 的系統跟 Leaflet 不一樣，所以用個函式來轉換
          // 官方說法：D3 and Leaflet use different APIs for rendering shapes and projecting points.
          function projectPoint(x, y) {
              var point = mymap.latLngToLayerPoint(new L.LatLng(y, x));
              this.stream.point(point.x, point.y);
          }
      });
      </script>
  <!-- close leaflet map -->

</div>

<br>
<br>
<br>

	

</div>




{% endblock %}