{% extends "data.html" %}

{% block display %}


	<p id ="text-content">Access government datasets available on Taiwan Data Lab via the menu on the right. New datasets will be periodically added. 

	<br>
	<br>

	If the dataset that you are seeking is unavailable on Taiwan Data Lab, you may begin your search by consulting the <a href="/directory">ROC Statistical System Directory</a>, which contain links to statistics webpages for a number of government agencies. If you have questions relating to the format or availability of government data, you may consult the <a href="/faqs">Taiwan Data FAQs</a> page.</p>



{% endblock %}