{% extends "base.html" %}
{% block content %}


	<!-- TITLE BAR -->

	<nav class="navbar navbar-default" id="searchbar">
		 <div class="container">
			<h2 id = "pagetitle"> Government Data</h2>

		</div>
	</nav>		<!-- CLOSE TITLE BAR -->

	 

	<div class="container">
		
	  	<br>
	  	<br>	
		
	</div>		



	<div class = "container">

		<!-- VERTICAL MENU -->

		<div class ="col-md-3">
				<div class="btn-group-vertical" role="group" aria-label="data-menu" id = "data-menu">

					<!-- Price -->
				  	<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prices <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="/data/price-index">Price Indices</a></li>
						    <li><a href="/data/price-index-change">Annual Change of Price Indices</a></li>
		  				</ul>
					</div>

				  	<!-- National Accounts -->
				  	<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">National Accounts <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
		  					<li><a href="/data/natlaccounts-ngdp">GDP by Expenditure (nominal)</a></li>
		  					<li><a href = "/data/natlaccounts-rgdp">GDP by Expenditure (real)</a></li>
						    <li><a href="/data/natlaccounts-ngdp-activity">GDP by Activity (nominal)</a></li>
						    <li><a href="/data/natlaccounts-rgdp-activity">GDP by Activity (real)</a></li>
		  				</ul>
					</div>

					<!-- Green National Income -->
					<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Environmental Indicators <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="/data/green-air">Air Pollution</a></li>
						    <li><a href="/data/green-water">Water Pollution</a></li>
						    <li><a href="/data/green-recycling">Recycling</a></li>
		  				</ul>
					</div>

					<!-- Labor Force -->
				  	<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Labor Force <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="/data/labor-employment-edu">Employment by Sex, Education Attainment</a></li>
						    <li><a href="/data/labor-employment-age">Employment by Age</a></li>
						    <li><a href="/data/labor-employment-industry">Employment by Industry</a></li>
						    <li><a href="/data/labor-employment-occupation">Employment by Occupation</a></li>
						    <li><a href="/data/labor-employment-class">Employment by Class of Workers</a></li>
						    <li><a href="/data/labor-unemployment-edu">Unemployment by Sex, Education Attainment</a></li>
						    <li><a href="/data/labor-unemployment-age">Unemployment by Age</a></li>
						    <li><a href="/data/labor-unemployment-reason">Unemployment by Reason</a></li>
						    <li><a href="/data/labor-notlaborforce">Not in Labor Force</a></li>
						    <li><a href="/data/labor-participation-edu">Labor Force Participation Rate by Sex, Education Attainment</a></li>
						    <li><a href="/data/labor-participation-age">Labor Force Participation Rate by Age</a></li>
						    <li><a href="/data/labor-unemploymentrate-edu">Unemployment Rate by Sex, Education Attainment</a></li>
						    <li><a href="/data/labor-unemploymentrate-age">Unemployment Rate by Age</a></li>
		  				</ul>
					</div>

				  	
					<!-- Social Indicators -->
				  	<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Social Indicators <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="/data/social-population">Population by Sex</a></li>
						    <li><a href="/data/social-marriage-age">Median Age of First Marriage</a></li>
						    <li><a href="/data/social-births">Number of Births</a></li>
						    <li><a href="/data/social-life-expectancy-male">Life Expectancy by Age (male)</a></li>
						    <li><a href="/data/social-life-expectancy-female">Life Expectancy by Age (female)</a></li>
						    <li><a href="/data/social-death-rates">Standardized Death Rates</a></li>
						    <li><a href="/data/social-edu-enrollment">Education Enrollment Rates</a></li>
						    <li><a href="/data/social-edu-attainment">Education Attainment Rates</a></li>
		  				</ul>
					</div>



					<!-- TO BE ADDED IN NEXT VERSION -->
					<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Earnings and Productivity <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="">Coming Soon</a></li>
		  				</ul>
					</div>

					<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Family Income and Expenditure <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="">Coming Soon</a></li>
		  				</ul>
					</div>

					<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cross-Strait Affairs <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="">Trade with Mainland China</a></li>
						    <li><a href="">Trade with Major Trade Partners</a></li>
						    <li><a href="">Approved Investment in Mainland China by Area</a></li>
						    <li><a href="">Approved Investment in Mainland China by Industry</a></li>
		  				</ul>
					</div>


					<div class="btn-group">
		  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Travel and Tourism <span class="caret"></span></button>
		  				<ul class="dropdown-menu">
						    <li><a href="">Coming Soon</a></li>
		  				</ul>
					</div>


				</div>
		</div>		<!-- CLOSE VERTICAL MENU -->

		<p id= "text-content"> {{ description }} </p>

		{% block display %} {% endblock %}




      	<br>
      	<br>
			</div>
		</div>		<!-- CLOSE TABS -->


	</div>

{% endblock %}