{% extends "base.html" %}
{% block content %}

	<!-- TITLE BAR -->

	<nav class="navbar navbar-default" id="searchbar">
		 <div class="container">
			<h2 id = "pagetitle"> ROC Statistical System Directory </h2>

		</div>
	</nav>		<!-- CLOSE TITLE BAR -->



<br>
<br>

	<!-- DESCRIPTION -->

	<div class="container" id="text-content">

		<p>General clearinghouses for Taiwan government datasets include: </p>
			<ul>
				<li><a href="http://eng.stat.gov.tw/mp.asp?mp=5">National Statistics website</a> (English and Chinese)</li>
				<li><a href="http://data.gov.tw/">Taiwan Open Data portal</a> (Chinese only)</li>
			</ul>

		<br>
		
		<p>The compilation and dissemination of Taiwan statistics by the ROC government is decentralized and delegated to a number of departments, agencies, and bureaus. See the <a href = "http://eng.stat.gov.tw/ct.asp?xItem=9576&ctNode=1530&mp=5">National Statistics website</a> for more information. Below is a non-exhaustive list of links to websites of these statistical organizations. Note that not all websites below provide public datasets in English.</p>	

		<br>

	</div>



	<!-- TABLE -->
	<div class="container">

	<script>

			$(document).ready(function() {
    			$('#datatable').DataTable( {
    				"scrollX": true,
        			dom: 'Bfrtip',
			        buttons: [
			           
			        ]
    			} );
			} );
			
		</script>



	<table id="datatable" class="display" width="100%" cellspacing="0">

	<thead>
	        <tr>
	            <th>Type</th>
	            <th>Organization</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr>
	        	<td>Statistical Department</td>
	            <td><a href="http://bit.ly/2dx3iXO">Ministry of Interior</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href= "http://bit.ly/2cTe75B">Ministry of Finance</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/1M79VfG'>Ministry of Education</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2d1c3uh'>Ministry of Justice</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2bjWwnk'>Ministry of Economic Affairs</a></td>
	        </tr>
	         <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2d7ovrz'>Ministry of Transportation and Communications</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2dAh9j8'>Ministry of Labor</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2dhDoGa'>Council of Agriculture</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2aPETN0'>Ministry of Health and Welfare</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2dhEh1w'>Veterans Affairs Council</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Department</td>
	            <td><a href='http://bit.ly/2cLJP7i'>Judicial Yuan</a></td>
	        </tr>
	         <tr>
	            <td>Statistical Office</td>
	            <td><a href='http://bit.ly/2dlPEp4'>Control Yuan</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Office</td>
	            <td><a href='http://bit.ly/2cAESiY'>Examination Yuan</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Office</td>
	            <td><a href='http://bit.ly/2daMciQ'>Ministry of Examination</a></td>
	        </tr>
	        <tr>
	            <td>Statistical Office</td>
	            <td><a href='http://bit.ly/2cCeP65'>Ministry of Civil Service</a></td>
	        </tr>
	         <tr>
	            <td>Statistical Office</td>
	            <td><a href='http://bit.ly/2dfECE0'>National Audit Office</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2ddvTlL'>Taipei City / New Taipei City</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2d76J9v'>Keelung City</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2dAmwid'>Tainan City</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2dAsixx'>Taichung City</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2dpt4gf'>Kaohsiung City</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2d7tAQJ'>Taitung County</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2dpuDuE'>Hualien County</a></td>
	        </tr>
	        <tr>
	            <td>City/County Government</td>
	            <td><a href='http://bit.ly/2d7GpPc'>Miaoli County</a></td>
	        </tr>
	         <tr>
	            <td>Other</td>
	            <td><a href='http://bit.ly/2d7JzlR'>Central Bank</a></td>
	        </tr>
	        <tr>
	            <td>Other</td>
	            <td><a href='http://bit.ly/2d7JIpo'>Fair Trade Commission</a></td>
	        </tr>
	        <tr>
	            <td>Other</td>
	            <td><a href='http://bit.ly/2davYIh'>National Development Council</a></td>
	        </tr>
	        <tr>
	            <td>Other</td>
	            <td><a href='http://bit.ly/2aMHTgo'>Mainland Affairs Council</a></td>
	        </tr>
	        <tr>
	            <td>Other</td>
	            <td><a href='http://bit.ly/2cCjULP'>Overseas Community Affairs Council</a></td>
	        </tr>
	        <tr>
	            <td>Other</td>
	            <td><a href='http://bit.ly/2daywG9'>Environmental Protection Administration</a></td>
	        </tr>

	    </tbody>
	</table>

	<br>
	<br>

	</div>




{% endblock %}