{% extends "base.html" %}
{% block content %}

	<!-- TITLE BAR -->

	<nav class="navbar navbar-default" id="searchbar">
		 <div class="container">
			<h2 id = "pagetitle"> Taiwan Data FAQs </h2>

		</div>
	</nav>		<!-- CLOSE TITLE BAR -->

<div class="container" id="text-content">

<br>


	<h4 class = "page-header"><strong>Why are Taiwan data commonly missing from online databanks of international organizations such as the United Nations and World Bank?</strong></h4>
	<p>The lack of Taiwan data in public databanks of these organizations is a consequence of Taiwan's ambiguous political status within the international community. Under its One-China policy, People's Republic of China maintains that Taiwan is not a soverign country, but a territory within the PRC government's legal jursidiction. Acknowledging the PRC's stance, the majority of the international community only maintain relations with Taiwan insofar as they do not imply that Taiwan is a sovereign entity outside the PRC's jurisdiction.</p>

	<br>
 
	<h4 class="page-header"><strong>What date format are Taiwan government datasets encoded in?</strong></h4>

	<p>blah</p>

	

	<br>
	

</div>

{% endblock %}