{% extends "base.html" %}
{% block content %}


		<!-- JUMBOTRON --> 

		<div class="jumbotron">
  			<div class="container">
    			<h1>Taiwan Data Lab</h1>
  			</div>
		</div>


		<!-- THUMBNAILS -->

		<div class="container" id="datatypes">
		<div class="row">

		  	<div class="col-xs-6 col-md-3">
    			<i class="fa fa-line-chart fa-5x" aria-hidden="true"></i>
    			<br>
    			<p>National Accounts</p>
  			</div>

 			<div class="col-xs-6 col-md-3">
      			<i class="fa fa-money fa-5x" aria-hidden="true"></i>
      			<br>
      			<p>Earnings and Productivity</p>
  			</div>
  			<div class="col-xs-6 col-md-3">
    			<i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
    			<br>
    			<p>Industry and Services</p>
  			</div>

  			<div class="col-xs-6 col-md-3">
      			<i class="fa fa-university fa-5x" aria-hidden="true"></i>
      			<br>
      			<p>Education</p>
  			</div>
  			
		</div>
		</div>


		<!-- DESCRIPTION -->

		<div class="container">

			<h1 id="intro-title">The Gist</h1>

			<br>

			<p id="intro">
			In a world that is increasingly dominated by data-driven technologies and decision-making, that which is not quantified is invisible. Due to the role that data increasingly plays in both civic participation and technological growth, governments around the world are increasingly providing public access to data for researchers, technologists, and civic hackers. But while Taiwan has taken steps to join the Open Data bandwagon, there is much room for improvement.

			<br>
			<br>

			Economic, political, and demographic data relating to Taiwan are conspicuously lacking or absent from the repositories of international organizations such as the United Nations, World Bank, and International Monetary Fund. The problem is exacerbated by the fact that official sources of Taiwan data are not particularly user-friendly &mdash; especially for international researchers who cannot read Traditional Chinese. A <a href="http://www.cw.com.tw/article/article.action?id=5061416">2014 article</a> in <em>CommonWealth Magazine</em> (天下雜誌) has profiled the latter issue, further noting that what data are publicly available are often offered in Microsoft Word and PDF files. 

			<br>
			<br>

			Taiwan Data Lab is a grassroots effort to make Taiwan data accessible and useful to analysts and scholars around the world. Built with open source technologies, Taiwan Data Lab provides curated, machine-readable datasets and interactive dashboards for researchers who want to discover Taiwan. 

			<br>
			<br>
			This is a work-in-progress, so check back often!</p>

			<br>
			<br>
			<br>
		</div>
		

{% endblock %}