{% extends "cluster.html" %}
{% block clustercontent %}


<div class='container'>


  <div class ="top-menu">
     <ul>
        <li>Overview</li>
        <li><a href="/cluster-charts">Analysis</a></li>
        <li><a href="">Literature</a></li>
        <li><a href="/cluster-info">More Info</a></li>
      </ul>
  </div>   
      

  <div id = "text-content">

    <h3 class = "page-header"><strong>Project Overview</strong></h3>

    <p>The <a href="http://tisc.nccu.edu.tw/">Taiwan Institute for Strategy and Competitiveness (TISC)</a> is conducting a series of studies on Taiwan's industry clusters to track their productivity and competitiveness. The methodology behind these studies is based on the <a href ='http://www.isc.hbs.edu/resources/courses/moc-course-at-harvard/pages/default.aspx'>Microeconomics of Competitiveness framework</a> developed by Professor Michael Porter and his research team at Harvard Business School. We hope that, by identifying and nurturing clusters of productive firms and industries, Taiwan can secure and maintain its place as a competitive player in the global economy.</p>


    <h3 class = "page-header"><strong>Clusters and Why They Matter</strong></h3>


        <p>An <strong>industry cluster</strong> is a geographic concentration of related industries and institutions, including companies, suppliers, service providers, trade groups, universities, and government agencies. Economic research has demonstrated that clusters are hubs of economic productivity and technological innovation.  For businesses, choosing to locate within an appropriate cluster may result in greater levels competitiveness. For governments, identifying and nurturing the right clusters offers the possibility of generating higher levels wage growth, job growth, business formation, and technological innovation. </p>

        <br>

        <p>Clusters can be broadly divided into two categories:</p>

    <ul>
      <li><strong>Traded clusters</strong> - Concentrations of related industries that sell goods and services to other regions and nations. The trans-regional nature of their business activities affords members of traded clusters more freedom in where to locate their facilities. Studies show a tight relationship between the existence of traded clusters and high levels of regional economic growth.</li>
      <br>
      <li><strong>Local clusters</strong> - Concentrations of related industries that sell goods and services exclusively within their immediate geographic region. Employment in local clusters is generally proportional to the population within the respective region.</li>
    </ul>

    <br>

    <p>For a more information on industry clusters, see the <a href ="http://www.clustermapping.us/content/clusters-101">"Clusters 101"</a> page at the <a href="http://www.clustermapping.us/">U.S. Cluster Mapping website</a>.</p>



    <h3 class = "page-header"><strong>Taiwan's Clusters and Competitive Advantages</strong></h3>

    <p>After analyzing the geographic distribution of Taiwan's economic activities, we regrouped Taiwan's cities and counties into 7 industrial districts:</p>

    <br>

      <table id="districts">
        <thead>
          <th>Industrial District</th>
          <th>Constituent Cities/Counties</th>
        </thead>

        <tbody>
          <tr>
            <td>North Region</td>
            <td>Taipei City, New Taipei City, Keelung City</td>
          </tr>
          <tr>
            <td>Northwest Region</td>
            <td>Taoyuan City, Hsinchu City, Hsinchu County, Miaoli County</td>
          </tr>
          <tr>
            <td>Middle Region</td>
            <td>Taichung City, Changhua County, Nantou County</td>
          </tr>
          <tr>
            <td>Southwest Region</td>
            <td>Yunlin County, Chiayi City, Chiayi County, Tainan City</td>
          </tr>
          <tr>
            <td>South Region</td>
            <td>Kaohsiung City, Pingtung County</td>
          </tr>
          <tr>
            <td>East Region</td>
            <td>Yilan County, Taitung County, Hualien County</td>
          </tr>
          <tr>
            <td>Outer Islands</td>
            <td>Penghu County, Kinmen County, Lienchiang County</td>
          </tr>
        </tbody>
      </table>
    <br>

    <p>Blah blah blah blah blah blah blah</p>

    <br>

  </div>




 

</div>

<br>
<br>
<br>

	

</div>

{% endblock %}