{% extends "base.html" %}
{% block content %}

	<!-- TITLE BAR -->

	<nav class="navbar navbar-default" id="searchbar">
		 <div class="container">
			<h2 id = "pagetitle"> Taiwan Data FAQs </h2>

		</div>
	</nav>		<!-- CLOSE TITLE BAR -->

<div class="container" id="text-content">


<br>


	<h4 class = "page-header"><strong>Why are Taiwan data commonly missing from online databanks of international organizations such as the United Nations and World Bank?</strong></h4>
	<p>The lack of Taiwan data in public databanks of these organizations is a consequence of Taiwan's ambiguous political status within the international community. Under its One-China policy, People's Republic of China maintains that Taiwan is not a soverign country, but a territory within the PRC's legal jursidiction. In accordance to the PRC's stance on this issue, much of the international community only interact with Taiwan in ways that do not imply that Taiwan is a sovereign entity outside the PRC's jurisdiction.</p>

	<br>

	<p>With the exception of Hong Kong SAR and Macau SAR, international organizations such as the World Bank typically do not provide data reported at the subnational-level. Thus, these organizations may choose not to provide Taiwan data so as to avoid implying that Taiwan is a sovereign state.</p>

	<br>


	<p>For example, the United Nations Trade Statistics <a href="http://unstats.un.org/unsd/tradekb/Knowledgebase/Taiwan-Province-of-China-Trade-data">website</a> states:</p>

	<blockquote><em>For political reasons the UN is not allowed to show trade statistics referring to Taiwan, Province of China.

	Yes, in the partner breakdown Taiwan, Province of China, is included under "Other Asia, not elsewhere specified" (code 490). Data for "Other Asia, nes" is available only to international organizations. In principle, trade data for territories belonging to Asia, but not specified by country, could end up in code 490. In practice, only trade of Taiwan, Province of China is included under this code, except for several countries (such as Saudi Arabia which report all of their exports to unknown countries).

	Trade data for Taiwan, Province of China are not included within China's trade.</em></blockquote>


 
	<h4 class="page-header"><strong>What date format are Taiwan government datasets encoded in?</strong></h4>
 
	<p>In accordance to "Chinese National Standard CNS 7648: Data Elements and Interchange Formats—Information Interchange—Representation of Dates and Times," years in government publications may be numbered according to the Minguo calendar (ROC era) or the Gregorian calendar (<em>anno Domini</em> or Common Era).</p>

	<br>

	<p>The <a href="https://en.wikipedia.org/wiki/Minguo_calendar">Minguo calendar</a> is commonly used in Taiwan and other territories under the jurisdiction of the Republic of China. Under the Minguo Calendar, 1912 — the founding year of the Republic of China — is considered Year 1. To convert from Minguo year to Gregorian year, add 1911 to the Minguo year. For example, ROC era 98 + 1911 = 2009 AD.</p>

	<br>

	<p>Analysts should take care to ensure that they do not confuse a Minguo year with a Gregorian year, or vice versa. For example, contextual clues should be used to determine if a year listed as "98" refers to year 1998 AD or 2009 AD (ROC era 98).</p>

	
	<h4 class="page-header"><strong>Why have data for certain counties in Taiwan disappeared after 2010?</strong></h4>

	<p>The ROC engaged in a redistricting initative on December 25, 2010. Under this initiative, several <a href="https://en.wikipedia.org/wiki/County_(Taiwan)">Counties</a> and <a href="https://en.wikipedia.org/wiki/Provincial_city_(Taiwan)">Provincial Cities</a> were merged to form <a href="https://en.wikipedia.org/wiki/Special_municipality_(Taiwan)">Special Municipalities</a>. Accordingly, data subsequent to 2010 were no longer reported under counties that were dissolved during the redistricting.</p>

	<br>

	<p>Changes under the 2010 redistricting initative include:</p>
	<ul>
		<li>Special municipality New Taipei City formed from upgrade of Taipei County</li>
		<li>Special muncipality Tainan City formed from merger of provincial Tainan City and Tainan County</li>
		<li>Special municipality Taichung City formed from merger of provincial Taichung City and Taichung County</li>
	</ul>

	<br>
	<p>In addition, special muncipality Taoyuan City was formed from the upgrade of Taoyuan County in 2014.</p>

	<br>
	<br>
	<br>
	<br>
	<br>

</div>

{% endblock %}