{% extends "data.html" %}

{% block display %}


<!-- TABS -->


				<ul class="nav nav-tabs" id ="data-display">
			  		<li role="presentation" class="active"><a href="">Graph</a></li>
			  		<li role="presentation"><a href="{{ table }}">Data</a></li>
				</ul>	

				<br>
				<br>

<!-- CHART --> 

		<canvas id="myChart" width="400" height="260"></canvas>		

		<script>

		// Define chart global properties

		Chart.defaults.global.title.display = true;
		Chart.defaults.global.title.text = "{{ chart_title }}";
		Chart.defaults.global.legend.position = "bottom";

		// Generate Chart

		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {{ data | tojson }},
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                },
		                scaleLabel: {
		                	display: true,
		                	labelString: "{{ yaxis }}"
		                }
		            }]
		        }
		    }
		});

		</script>	<!-- CLOSE CHART -->

		<br>
		<p><em>Hover over graph for tooltip. Click within legend to filter data.</em></p> 

{% endblock %}