{% extends "base.html" %}
{% block content %}

	<!-- TITLE BAR -->

	<nav class="navbar navbar-default" id="searchbar">
		 <div class="container">
			<h2 id = "pagetitle"> Thanks </h2>

		</div>
	</nav>		<!-- CLOSE TITLE BAR -->

<div class="container" id="text-content">

<br>
<br>

	<p>Taiwan Data Lab is built upon the shoulders of free and/or open source technologies, including:</p>
		<ul>
			<li> <a href="http://flask.pocoo.org/"> Flask </a>  - Python web framework </li>
			<li> <a href="http://www.chartjs.org/"> Chart.js </a> - JavaScript plug-in for data visualization </li>
			<li> <a href="http://leafletjs.com/"> Leaflet </a> - JavaScript library for interactive maps </li>
			<li> <a href="https://d3js.org/"> D3.js </a> - JavaScript library for data visualization using HTML, SVG, and CSS </li>
			<li> <a href="https://datatables.net/"> DataTables </a> - Table plug-in for jQuery </li>
			<li> <a href="http://omnipotent.net/jquery.sparkline/#s-about"> jQuery Sparklines </a> - jQuery plugin that generates sparklines </li>
			<li> <a href="https://www.sqlite.org/"> SQLite </a>  - Embedded SQL database engine </li>
		 	<li> <a href="http://getbootstrap.com/"> Bootstrap </a> - HTML, CSS, JavaScript framework for responsive webpages</li>
		</ul>

	<br>

	<p>It also benefitted from code written by:</p>
		<ul>
			<li> <a href="https://gist.github.com/VioletVivirand/56cc297a57b0b710263124701c153faf">VioletViriand</a> - Taiwan Map</li>
		</ul>

	<br>

	<p>Taiwan Data Lab incorporates the artistic work of rustler2x4 per <a href="https://creativecommons.org/licenses/by/2.0/"> Creative Commons Attribution 2.0 Generic license</a>. See: <a href="https://commons.wikimedia.org/wiki/File:Taipeiskyline.jpg"> https://commons.wikimedia.org/wiki/File:Taipeiskyline.jpg</a>. </p>

	<br>

	<p>To contributors of projects listed above: Thank you!!</p>

</div>

<br>
<br>
<br>
<br>

{% endblock %}